.FAQs-container {
    width: 50%; /* Adjust width as needed */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
   
    margin: auto; /* Center the container */
}
.faq-item {
    color: #47929C;
    margin-bottom: 20px; /* Add margin between each FAQ item */
    text-align: left; /* Align the FAQ items to the left within the container */
    padding-bottom: 10px; /* Add padding below each FAQ item */
}

.faq-question {
    cursor: pointer; /* Change cursor to pointer when hovering over the question */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray; /* Add underline below the question */
    padding-bottom: 5px; /* Adjust padding for better spacing */
}

.faq-question:hover {
    opacity: 0.7; /* Reduce opacity when hovering over the question */
}



.faq-question div:last-child {
    margin-left: 10px; /* Add margin between question text and the toggle icon */
}

.faq-answer {
    margin-top: 10px; /* Add margin above the answer for separation */
}

/* Media Query for limiting the underline width */
@media screen and (max-width: 768px) {
    .faq-question {
        max-width: 90%; /* Limit the width of the question container */
        margin: auto; /* Center the question container */
    }
}
@media screen and (min-width: 1440px) {
    .FAQs-container {
        width: 30%; /* Adjust width as needed */
    }
}