.desktop-button {
    display: none; /* Hide desktop button by default */
  }
  
  .mobile-button {
    display: block; /* Show mobile button by default */
  }
  
  /* Media queries for tablet and desktop screens */
  
  @media only screen and (min-width: 768px) {
    .mobile-button {
      display: none; /* Hide mobile button on tablet/desktop */
    }
    .desktop-button {
      display: block; /* Show desktop button on tablet/desktop */
    }
  }